services:

  template-app:
    restart: always
    build:
      context: ./template-app
    hostname: template-app
    ports:
      - "20000:20000"
    networks:
      - backend

  db-postgres:
    restart: always
    image: postgres:18.0-alpine
    volumes:
      - db-postgres:/var/lib/postgresql/data:delegated
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=template-app
      - POSTGRES_PASSWORD=template-app
      - POSTGRES_DB=template-app
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  db-postgres:
